
body {
	background-color: #e9e9e9;
	font-family: 'Open Sans', sans-serif;
}



header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/*flex-direction: column;*/
	flex-wrap: wrap;
}

/*@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}*/

header p {
	margin-bottom: 0px;
	margin-top: 5px;
	text-align: center;
}

#social_div {
	display: flex;
	padding: 0 10px 10px;
}

#social_div p {
	margin-left: 10px;
	margin-right: 10px;
}

#phone_number {
	padding-top: 5px;
}

header img {
	width: 100%;
}

#logo_div {
	max-width: 250px;
}

#header_social_logo {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
}

.div_separate {
	height: 5px;
}

#header_social_logo img {
	max-width: 40px;
}

#s_about_us img {
	width: 100%;
}

#s_about_us {/*
	padding-top: 40px;
	padding-left: 50%;
	padding-right: 5%;*/
	padding: 40px 5% 20px 50%;
	/*padding-top: 66.64%;*/
	background-size: 100%;
	/*background-repeat: no-repeat;*/
	background-image: url("../image/pierre-chatel-innocenti-F4VHOj76D0o-unsplash_cutted.jpg");
}


#div_about_us {
	padding: 30px;
	border-radius: 10px;
	background-color: #161c50;
}

#div_about_us p {
	color: #ffffff;
}

#div_about_us h2 {
	text-align: center;
	color: #ffffff;
}

#s_about_window h1 {
	text-align: center;
}
#s_about_window h2 {
	text-align: center;
}

#nav_about_window {
	width: 100%;
	
	align-items: center;
	justify-content: center;
	background-color: #dbbd2a;
}

.aw_part_button {
	border: 0;
	height: 60px;
	width: 15%;
	background-color: #dbbd2a;
	font-size: 16px;
}

#naw_b_icon img {
	width: 30px;
}
#naw_b_icon {
	display: none;
	
}

article h3 {
	text-align: center;
}

#wpm_b_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.win_prof_manuf {
	width: 100%;
	border-width: 2px;
	border-color: #dbbdbd;
	height: 40px;
	background-color: #dbbd2a;
	font-size: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.f_column {
	text-align: center;
	width: 35%;
}

.div_about_window table {
	max-width: 300px;
	border-collapse: collapse; 
	margin-bottom: 34px;
}

.div_about_window table tr {
	border: 1px solid;
	border-color: #fff;
}

.div_about_window table td {
	word-wrap:break-word;
	
	/*border: 1px solid;
	border-collapse: collapse;
	*/
}

.wpm_width {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.div_about_window {
	/*display: flex;
	justify-content: space-evenly;
	flex-direction: column;*/
	width: 48%;
	
	background: #bcd2dd;/*bcd2dd 337ab7 151b4e dabc28 d7d067*/
	margin-top: 10px;
	margin-bottom: 10px;
}

.div_about_window td, .div_about_window h1, .div_about_window h3 {
	font-size: 1.4em;
	color: #ffffff;
	word-wrap: break-word;
	text-shadow: 0 0 3px #000;
}
.div_about_window h1 {
	margin-bottom: 0px;
}

.div_about_window a {
	display: block;
	text-decoration: none;
	color: #151b4e;
	padding: 10px;
	font-size: 1.1em;
	background: #ffffff;
	/*max-width: 350px;*/
	text-align: center;
	word-wrap: break-word;
}

.daw_data {
	/*max-width: 30%;
	flex-direction: column;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	
}

@media (max-width: 700px) {
	.div_about_window {
		width: 100%;
	}
}

#wpm_wds img {
	width: 100%;
	max-width: 250px;
	margin-top: 20px;
}
#wpm_salamander img {
	width: 100%;
	max-width: 200px;
	margin-top: 20px;
}
#wpm_rehau img {
	width: 100%;
	max-width: 250px;
	margin-top: 20px;
}
#wpm_epsilon img {
	width: 100%;
	max-width: 250px;
	margin-top: 20px;
}



@media (max-width: 400px) {
	table td {
		font-size: 14px;
	}	
}
@media (max-width: 350px) {
	table td {
		font-size: 12px;
	}	
}

@media (max-width: 700px) {
	#nav_about_window {
		flex-direction: column;
	}
	#naw_b_icon {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.aw_part_button {
		width: 100%;
	}
}

#testtest {
	height: 500px;
}

@media (max-width: 1150px) {
	#s_about_us {
		padding-left: 40%;
	}
	#div_about_us {
		padding-top: 10px;
		padding-bottom: 10px;

	}
}

@media (max-width: 1000px) {
	#s_about_us {
		padding-top: 20px;
		padding-left: 30%;
	}
	
}

@media (max-width: 850px) {
	#s_about_us {
		background-image: url("../image/pierre-chatel-innocenti-F4VHOj76D0o-unsplash_CUTTED2.jpg");
	}
}



@media (max-width: 650px) {
	#s_about_us { 
		padding-left: 5%;
		padding-top: 250px;
	}
}



