
body {
	background-color: #e9e9e9;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
	width: 100%;
}
h2 {
	text-align: center;
	width: 100%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/*@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}*/

header p {
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
}

#social_div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10px 10px;
}

#social_div p {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}
#social_div a {
	text-decoration: none;
}

#phone_number {
	font-size: 1.8em;
	color: #161c50;
}
#phone_number:hover {
	color: #fff;
}

header img {
	width: 100%;
}

#logo_div {
	max-width: 250px;
}

#header_social_logo {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
}



#header_social_logo img {
	max-width: 40px;
}

nav {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #dbbd2a;
}
.b_change_nav {
	width: 100%;
	background-color: #c69000;
}
#nav_current_page {
	display: inline-block;
	font-size: 2em;
	width: 90%;
	color: #fff;
}
nav a {
	display: block;
	padding: 13px 2%;
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
	color: #000;
}
@media (min-width: 900px) {
	nav a:hover {
		background-color: #c69000;
		color: #fff;
	}
	.b_change_nav {
		display: none;
	}
}
.current_page_nav {
	background-color: #c69000;
	color: #fff;
}

#s_about_us img {
	width: 100%;
}

#s_about_us {
	padding: 40px 5% 40px 50%;
	/*padding-top: 66.64%;*/
	background-size: 100%;
	/*background-repeat: no-repeat;*/
	background-image: url("../image/about_us_background_pc.jpg");
	border-bottom: 15px solid #161c50;
}


#div_about_us {
	padding: 30px;
	border-radius: 10px;
	background-color: #161c50;
}

#div_about_us p {
	color: #ffffff;
}

#div_about_us h2 {
	color: #ffffff;
}
#div_about_us a  {
	text-decoration: none;
	color: #bcd2dd;
}

#s_about_window {
	padding-left: 3%;
	padding-right: 3%;
}
.part_about_window {
	border: solid 1px #d7d067;
	display: none;
}


#nav_about_window {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #dbbd2a;
}

.aw_part_button {
	border: 0;
	height: 50px;
	width: 20%;
	background-color: #dbbd2a;
	font-size: 16px;
}

#naw_b_icon img {
	width: 30px;
}
#naw_b_icon {
	display: none;
	
}

h3, h4 {
	text-align: center;
	width: 100%;
}

.m_b_list {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.b_manuf {
	width: 100%;
	border-width: 2px;
	border-color: #c6900070;
	height: 35px;
	background-color: #dbbd2a;
	font-size: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
}



.wm_flex {
	width: 100%;
	display: none;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.article_about_profile {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 48%;
	align-items: center;
	background: #bcd2dd;/*bcd2dd 337ab7 151b4e dabc28 d7d067 */
	margin-top: 10px;
	margin-bottom: 10px;
}
.article_about_laminate {
	background: #bcd2dd;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left:  10px;
	padding-right:  10px;
}

.rehau_kaleido {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 850px;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
}
.rehau_kaleido div {
	max-width: 400px; 
}

.f_column {
	text-align: center;
	
	padding-right: 4px;
}

.article_about_profile table {
	max-width: 400px;
	border-collapse: collapse; 
	margin-bottom: 20px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

tr {
	border: 1px solid;
	border-color: #fff;
}

.article_about_profile td {
	font-size: 1.2em;
	color: #151b4e;
}


.article_about_profile b, .article_about_laminate b {
	font-size: 1.3em;
}

.article_about_profile p, .article_about_laminate p {
	text-align: center;
	font-size: 1.2em;
	color: #151b4e;
	word-wrap: break-word;
}



.article_about_profile a, .laminate_m_link, #all_reviews_link {
	display: block;
	text-decoration: none;
	color: #151b4e;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
	background: #ffffff;
	text-align: center;
	max-width: 300px;
	margin: 15px auto;
	border: 1px #fff solid;
}
.article_about_profile a:hover, .laminate_m_link:hover, #all_reviews_link:hover {
	border: 1px #000 solid;
}

.daw_data {
	/*max-width: 30%;
	flex-direction: column;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	
}

.daw_data div {
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.div_about_defin {
	display: none;
	padding-left: 3%;
	padding-right: 3%;
}
.div_about_defin_cpage {
	display: block;
}
.b_about_defin {
	margin: 10px;
	background-color: #d7d067;
	border: 1px solid;
	padding: 5px;
}

#nav_about_window button:hover {
	background-color: #c69000;
	color: #fff;
}

#aw_windowsill {
	display: flex;
}

#aw_windowsill table {
	max-width: 600px;
	
	min-height: 190px;
	border-collapse: collapse; 
}
#aw_windowsill td {
	padding: 5px;
	min-width: 90px;
	font-size: 1em;
}



/*CATALOG IMAGES SIZE*/

#wpm_wds img {
	width: 100%;
	max-width: 200px;
}

#wpm_salamander img {
	width: 100%;
	max-width: 180px;

}
#wpm_rehau img {
	width: 100%;
	max-width: 200px;

}
#wpm_epsilon img {
	width: 100%;
	max-width: 150px;

}
#wlm_wds img, #wlm_epsilon img {
	width: 100%;
	max-width: 1000px;
}
#wlm_salamander img {
	width: 100%;
	max-width: 710px;
}
#wds_laminate_premium {
	width:  80%;
	margin: auto;
}
#salamander_laminate_tinyimg {
	max-width: 430px;
}
#fm_axor img {
	width: 100%;
	max-width: 500px;
}
#aw_windowsill img {
	width: 100%;
	max-width: 270px;
}
.rehau_kaleido_img {
	width: 100%;
	max-width: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*REVIEWS SECTION*/

#s_reviews {
	margin-top: 20px;
	border-top: 15px solid #161c50;
}

.reviews_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-left: 3%;
	padding-right: 3%;
}

#all_reviews_block .review {
	width: 70%;
}
.review {
	width: 30%;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: #151b4e50 2px 2px 2px 0;
	padding: 5px 15px;
	margin-bottom: 20px;
}
.review_user {
	border-top: 1px dashed #161c5050;
	font-size: 1.1em;
	margin-top: 0px;
	padding-top: 10px;
} 

#s_faq, #s_faq_page {
	margin-top: 5px;
	border-top: 15px solid #161c50;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.b_faq {
	width: 80%;
	border-width: 1px;
	min-height: 45px;
	background-color: #272932;
	font-size: 1.3em;
	color: #dabc2b;
	margin-top: 8px;
	
}
.faq_div {
	width: 80%;
	background-color: #f9f9f9;
	display: none;
}
.faq_div p, .faq_div ul {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#s_reports {
	border-top: 15px solid #161c50;
}
#reports_block {
	width: 94%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.report_link {
	display: block;
	width: 30%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 15px;
	background-color: #bcd2dd;
	border-radius: 5px;
	box-shadow: #151b4e50 2px 2px 2px 0;
}
/* #d7d067;*/

.report_link img {
	width: 100%;
	max-width: 150px;
	display: block;
	margin: auto;
	
}
.report_link img:hover {
	opacity: 0.5;
}
.report_link b {
	font-size: 1.2em;
}

.report_link a {
	text-decoration: none;
}
.report_link p {
	text-align: center;
	color: #151b4e;
	margin: 10px;
}
.report_link p:hover {
	color: #fff;
}

figure {
	margin: 0;
}
figcaption {
	padding-bottom: 10px;
}

/*.catalogue_div_border .m_b_list {
	border: 1px solid #151b4e50;
	padding-bottom: 10px;
}*/

/*REPORTS.HTML*/

.report_block {
	width: 90%;
	margin: auto;
	border: 1px solid #151b4e50;
	margin-top: 20px;
	margin-bottom: 20px;
}
.report_data {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: space-evenly;
	align-items: center;
	background: #bcd2dd;
	margin: 10px auto;
	
}
#s_reports_page table {  
	max-width: 500px;
	border-collapse: collapse; 
	margin-top: 10px;
	margin-bottom: 10px;
}

#s_reports_page td {
	padding: 5px  2%;
	min-width: 120px;	
}
.report_img {
	width: 100%;
	max-width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}



/*media*/

@media (max-width: 1150px) {
	#s_about_us {
		padding-left: 40%;
	}
	#div_about_us {
		padding-top: 10px;
		padding-bottom: 10px;

	}
}

@media (max-width: 1000px) {
	#s_about_us {
		padding-top: 20px;
		padding-left: 30%;
	}
	
}

@media (max-width: 900px) {
	#s_about_us {
		background-image: url("../image/about_us_background_mobile.jpg");
	}
	.report_link {
		width: 75%;
	}
	nav {
		display: none;
		flex-direction: column;
		height: auto;
	}
	.b_change_nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		width: 96%;
	}
	header p {
		margin-top: 10px;
	}
	
}

@media (max-width: 700px) {
	#s_about_window {
		padding: 0;
	}
	#nav_about_window {
		flex-direction: column;
		/*display: none;*/
	}
	#naw_b_icon {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.aw_part_button {
		width: 100%;
	}
	.article_about_profile {
		width: 100%;
	}
	.article_about_laminate {
		width: 100%;
	}
	.review, #all_reviews_block .review {
		width: 100%;
	}
	.b_faq {
		width: 100%;
	}
	.faq_div {
		width: 100%;
	}
	.faq_div p {
		width: 90%;
	}
	
	.report_block {
		width: 100%;
	}
	.report_data {
		width: 96%;
	}
	
	
}

@media (max-width: 650px) {
	#s_about_us { 
		padding-left: 5%;
		padding-top: 250px;
	}
	.report {
		width: 85%;
	}
	.div_margin  {
		padding-right: 12%;
		padding-left: 12%;
	}
}
@media (max-width: 380px) {
	#div_about_us {
		padding: 5px;
	}
	#div_about_us h2 {
		font-size: 1.3em;
	}
	#s_reports_page td {
		padding: 5px  2%;
		min-width: 0;	
	}
	.report_data {
		width: 100%;
	}
	.div_margin  {
		padding-right: 0px;
		padding-left: 0px;
	}
	
}




