
body {
	background-color: #e9e9e9;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/*flex-direction: column;*/
	flex-wrap: wrap;
}

/*@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}*/

header p {
	margin-bottom: 0px;
	margin-top: 5px;
	text-align: center;
}

#social_div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10px 10px;
}

#social_div p {
	margin-left: 10px;
	margin-right: 10px;
}

#phone_number a {
	font-size: 1.3em;
	color: #151b4e;
}

header img {
	width: 100%;
}

#logo_div {
	max-width: 250px;
}

#header_social_logo {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
}

.div_separate {
	height: 5px;
}

#header_social_logo img {
	max-width: 40px;
}

#s_about_us img {
	width: 100%;
}

#s_about_us {/*
	padding-top: 40px;
	padding-left: 50%;
	padding-right: 5%;*/
	padding: 40px 5% 20px 50%;
	/*padding-top: 66.64%;*/
	background-size: 100%;
	/*background-repeat: no-repeat;*/
	background-image: url("../image/pierre-chatel-innocenti-F4VHOj76D0o-unsplash_cutted.jpg");
}


#div_about_us {
	padding: 30px;
	border-radius: 10px;
	background-color: #161c50;
}

#div_about_us p {
	color: #ffffff;
}

#div_about_us h2 {
	text-align: center;
	color: #ffffff;
}

#s_about_window {
	border-top: 15px solid #161c50;
}

#s_about_window h2 {
	text-align: center;
}

#nav_about_window {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #dbbd2a;
}

.aw_part_button {
	border: 0;
	height: 50px;
	width: 15%;
	background-color: #dbbd2a;
	font-size: 16px;
}

#naw_b_icon img {
	width: 30px;
}
#naw_b_icon {
	display: none;
	
}

article h3 {
	text-align: center;
}

#wpm_b_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#dpm_b_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.win_prof_manuf {
	width: 100%;
	border-width: 2px;
	border-color: #dbbdbd;
	height: 35px;
	background-color: #dbbd2a;
	font-size: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.f_column {
	text-align: center;
	width: 35%;
	padding-right: 4px;
}

.div_about_window table {
	max-width: 300px;
	border-collapse: collapse; 
	margin-bottom: 20px;
}

.div_about_window table tr {
	border: 1px solid;
	border-color: #fff;
}

.div_about_window table td {
	word-wrap:break-word;
	
	/*border: 1px solid;
	border-collapse: collapse;
	*/
}

.wpm_width {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.div_about_window {
	/*display: flex;
	justify-content: space-evenly;
	flex-direction: column;*/
	width: 48%;
	
	background: #bcd2dd;/*bcd2dd 337ab7 151b4e dabc28 d7d067 */
	margin-top: 10px;
	margin-bottom: 10px;
}

.div_about_window td, .div_about_window h1, .div_about_window h3 {
	font-size: 1.5em;
	color: #151b4e;
	word-wrap: break-word;
	/*text-shadow: -1px 0 0px #000, 0 0 2px #151b4e;*/
}
.div_about_window h1 {
	margin-bottom: 0px;
}

.div_about_window a {
	display: block;
	width: 80%;
	margin: auto;
	text-decoration: none;
	color: #151b4e;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	font-size: 1.2em;
	background: #ffffff;
	/*max-width: 350px;*/
	text-align: center;
	word-wrap: break-word;
}

.daw_data {
	/*max-width: 30%;
	flex-direction: column;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	
}

.daw_data div {
	margin-bottom: 20px;
}


#wpm_wds img, #dpm_wds img {
	width: 100%;
	max-width: 250px;
}
#wpm_salamander img {
	width: 100%;
	max-width: 180px;

}
#wpm_rehau img, #dpm_rehau img {
	width: 100%;
	max-width: 250px;

}
#wpm_epsilon img, #dpm_epsilon img {
	width: 100%;
	max-width: 200px;

}

.div_about_defin {
	padding-left: 3%;
	padding-right: 3%;
}

.b_about_defin {
	margin: 10px;
	background-color: #d7d067;
	border: 1px solid;
	padding: 5px;
}

#nav_about_window button:hover, article button:hover {
	background-color: #c69000;
	color: #fff;
}
/*button:active {
	background-color: #c69000;
	color: #000;
}*/

#reviews {
	margin-top: 20px;
	border-top: 15px solid #161c50;
}

.reviews_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-left: 3%;
	padding-right: 3%;
}
.review {
	width: 30%;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: #151b4e50 2px 2px 2px 0;
	padding: 5px 15px;
	margin-bottom: 20px;
}
.review_user {
	border-top: 1px dashed #161c5050;
	font-size: 1.1em;
	margin-top: 0px;
	padding-top: 10px;
} 

#faq {
	margin-top: 5px;
	border-top: 15px solid #161c50;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.b_faq {
	width: 80%;
	border-width: 1px;
	height: 40px;
	background-color: #272932;
	font-size: 1.3em;
	color: #dabc2b;
	margin-top: 4px;
	margin-bottom: 4px;
}

@media (max-width: 400px) {
	table td {
		font-size: 14px;
	}	
}

@media (max-width: 350px) {
	table td {
		font-size: 12px;
	}	
}

@media (max-width: 700px) {
	#nav_about_window {
		flex-direction: column;
		/*display: none;*/
	}
	#naw_b_icon {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.aw_part_button {
		width: 100%;
	}
	.div_about_window {
		width: 100%;
	}
	.review {
		width: 100%;
	}
	.b_faq {
		width: 100%;
	}
}



@media (max-width: 1150px) {
	#s_about_us {
		padding-left: 40%;
	}
	#div_about_us {
		padding-top: 10px;
		padding-bottom: 10px;

	}
}

@media (max-width: 1000px) {
	#s_about_us {
		padding-top: 20px;
		padding-left: 30%;
	}
	
}

@media (max-width: 850px) {
	#s_about_us {
		background-image: url("../image/pierre-chatel-innocenti-F4VHOj76D0o-unsplash_CUTTED2.jpg");
	}
}



@media (max-width: 650px) {
	#s_about_us { 
		padding-left: 5%;
		padding-top: 250px;
	}
}



